{% extends 'base.html.twig' %}

{% block title %}PhotoShare - Photos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

        #file{
            display: none;
        }

        .thumbnail {
            margin: 10px;
            width: 20%;
            min-width: 16em;
            border-radius: 10px;
            /*box-shadow: 0 2px 6px 0 #c3c3c3;*/
            border: 1px solid #dfe1e5;
            padding: 5px;
            transition: all 0.5s;
        }

        .photo{
            position: relative;
        }

        .thumbnail:hover {
            transform: scale(1.05);
        }

        .photo.selected::after {
            position: absolute;
            background-color: #00a5ff;
            width: 12px;
            height: 12px;
            content: "";
            bottom: 5px;
            right: 5px;
            border-radius: 7px;
            border: 1px solid white;
        }

        .upload-area {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 10px;
            border: 3px solid transparent;
            background-color: white;
            transition: all 0.2s;
            margin-bottom: 4em;
        }

        #upload-btn:hover{
            cursor: pointer;
        }

        .title{
            font-size:12px;
        }

        img{
            width: 100%;
            border-radius: 10px;
            /* Pour enlever le filtre bleu lors du clic sur l'image*/
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .helper {
            position: fixed;
            background-color: white;
            bottom: 0;
            padding-bottom: 42px;
            width: 100%;
            border-top: 1px solid lightgrey;
            padding-top: 5px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            left: 0;
        }

        .helper span {
            flex-flow: wrap-reverse;
            margin: 0 6px;
        }

    </style>
{% endblock %}

{% block body %}
    <h1 class="text-center display-4 text-secondary">Mes Photos</h1>   
    <p id="drop-info"> ou glissez-déposez </p>
    <div class="upload-area"  id="uploadfile">
        <input type="file" name="file" id="file">
        <div class="thumbnail" id="upload-btn">
            <img src="../images/plus.png">
        </div>
        {% for photo in user.myPhotos %}
        <div class="thumbnail photo" data-id="{{ photo.id }}">
            <img src="{{ "../uploads/img/" ~ photo.imageName }}" draggable="false">
        </div>
            {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="showPictureModal" tabindex="-1" role="dialog" aria-labelledby="showPictureModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="showPictureModalLabel">Titre de l'image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img src="./images/news.jpg" class="img-fluid full_pic" alt="img1">
                </div>
            </div>
        </div>
    </div>

    <div class="helper">
        <span id="photos-selected"> Aucune photo sélectionnée </span>

        <span class="text-right">
            <button type="button" id="create-album" class="btn btn-primary" disabled>Créer un album à partir des photos sélectionnées</button>
        </span>
    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="../assets/drag-drop.js"></script>
<script type="text/javascript" src="../assets/add-photos.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var url = "{{ path('create_album_from_photos') }}";
        addPhotos(url, callback);
        dragAndDrop(url="{{ path('photo_upload') }}")
    });

    function callback (o, response){
        window.location = 'album/' + response["album"];
    }

</script>
{% endblock %}
