{% extends 'base.html.twig' %}

{% block title %}PhotoShare - Nouvel Album{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
/*        .upload-area{
            width: 100%;
            min-height: 200px;
            border: 2px solid lightgray;
            border-radius: 3px;
            text-align: center;
        }
*/
        .upload-area h1{
            text-align: center;
            font-weight: normal;
            font-family: sans-serif;
            line-height: 50px;
            color: darkslategray;
        }

        #file{
            display: none;
        }

        .thumbnail {
            margin: 10px;
            width: 20%;
            min-width: 16em;
            border-radius: 10px;
            /*box-shadow: 0 2px 6px 0 #c3c3c3;*/
            border: 1px solid #dfe1e5;
            padding: 5px;
            transition: all 0.5s;     
        }

        .thumbnail:hover {
            transform: scale(1.05);
        }

        .photo{
            position: relative;
        }

        .photo.selected::after {
            position: absolute;
            background-color: #00a5ff;
            width: 12px;
            height: 12px;
            content: "";
            bottom: 5px;
            right: 5px;
            border-radius: 7px;
            border: 1px solid white;
        }

        .upload-area {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 5px;
            border-radius: 10px;
            border: 3px solid transparent;
            background-color: white;
            transition: all 0.2s;
        }

        .modal-body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        #upload-btn:hover{
            cursor: pointer;
        }

        .title{
            font-size:12px;
        }

        img{
            width: 100%;
            border-radius: 10px;
        }

/*        img:hover {
            transform: scale(1.1);
        }*/

    </style>
{% endblock %}
{% block body %}

    <h1 class="text-center display-4 text-secondary">Album : {{album.title}}</h1>

    <div>
        <p id="drop-info"> Vous pouvez glisser-déposer vos photos pour les ajouter</p>

        <div class="upload-area"  id="uploadfile">
            <div class="thumbnail" id="upload-btn" data-toggle="modal" data-target="#exampleModal">
                <img src="../images/plus.png">
            </div>
            {% set photoIds = [] %}
            {% for mosaic in album.mosaics %}
            <div class="thumbnail">
                {% set photoIds = photoIds|merge([mosaic.photo.id]) %}
                <img src="{{ "../uploads/img/" ~ mosaic.photo.imageName }}">
                <span class="title">{{ mosaic.title }}</span>
            </div>
            {% endfor %}
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade modal-doc" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sélectionnez des images parmi vos photos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                {% for photo in app.user.myPhotos %}
                    {% if not (photo.id in photoIds) %}
                    <div class="photo thumbnail" data-id="{{ photo.id }}">
                        <img src="{{ "../uploads/img/" ~ photo.imageName }}">
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="modal-footer">
                <span id="photos-selected"></span>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="create-album" disabled>Ajouter</button>
            </div>
          </div>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript" src="../assets/add-photos.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var url = "{{ path('add_photo_to_album', {'id':userAlbumId}) }}";
        addPhotos(url, callback);
    });

    function callback(Photos){
        var mainDiv = $('#uploadfile');
        for (var i = Photos.length - 1; i >= 0; i--) {
            Photos[i].detach()
                .appendTo(mainDiv)
                .removeClass("photo")
                .removeClass("selected")
                .unbind("click");
        }
        $("#exampleModal").modal("hide");
    };
</script>
{% endblock %}
