<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}PhotoShare{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/style.css">
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ path('home') }}">PhotoShare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileNavbar"
            aria-controls="mobileNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mobileNavbar">
        <ul class="navbar-nav mr-auto">
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('album_home') }}">Mes Albums</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('photo_home') }}">Mes Photos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('profile_home') }}">Mon Compte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="nav__logout" href="{{ path('app_logout') }}">Déconnexion </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link link-login" href="{{ path('app_login') }}">Connexion </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('register') }}">Inscription </a>
                </li>
            {% endif %}
        </ul>
        <span class="navbar-text">
            {% if app.user %}
                Bonjour {{ app.user.email }}
            {% endif %}
        </span>
    </div>
</nav>

<main role="main" class="container">
    {% for success_message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Opération réussie!</strong> {{ success_message }}
        </div>
    {% endfor %}
    {% for info_message in app.flashes('info') %}
        <div class="alert alert-info alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Info!</strong> {{ info_message }}
        </div>
    {% endfor %}
    {% for warning_message in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Attention !</strong> {{ warning_message }}
        </div>
    {% endfor %}
    {% for danger_message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Danger!</strong> {{ danger_message }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}

</main>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}
</body>

</html>
